<head>
<style>
  a {
    text-decoration: none;
    color:#02243E;
    font-size: 100%;
  }
  /* mouse over link */
  a:hover {
    color: #0887E8;
  }
  table {
    width: 100%;
    text-align: left;
  }
  </style>
</head>

<body style="background-color:white;padding-left:5%;padding-right:5%;">
  <font face="Bebas Neue" color="#02243E" size=200%>
    <div>Activity Form</div>
  </font>

<font face="avenir">
<%= form_with scope: :form, url: factivity_index_path, local: true do |form| %>

<% if @factivity.errors.any? %> 
<div id="error_explanation">
  <h2>
    <%= pluralize(@factivity.errors.count, "error") %>
    prohibited
    this article from being saved:
  </h2>
  <ul>
    <% @factivity.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<p>
  <b> Select Your Name </b> <br>
  <% option = options_from_collection_for_select(@athletes, :name, :name)%>
  <%= form.select :stdName, option, :include_blank => true %>
</p>
<b>
  <%= form.label :"What activity did you just complete?" %><br>
</b>
<p>
  <%= form.radio_button :activity, "practice" %> Practice <br>
  <%= form.radio_button :activity, "match" %> Match <br>
  <%= form.radio_button :activity, "weights" %> Weights <br>
  <%= form.radio_button :activity, "individual small group workout" %> Individual/Small Group Workout <br>
</p>

<b>
  <%= form.label :"How was your workout?" %><br>
</b>
<p>
  <%= form.radio_button :exertion, '0' %> 0  Rest <br>
  <%= form.radio_button :exertion, '1' %> 1  Very, Very Easy <br>
  <%= form.radio_button :exertion, '2' %> 2  Easy <br>
  <%= form.radio_button :exertion, '3' %> 3  Moderate <br>
  <%= form.radio_button :exertion, '4' %> 4  Somewhat Hard <br>
  <%= form.radio_button :exertion, '5' %> 5  Hard <br>
  <%= form.radio_button :exertion, '6' %> 6  - <br>
  <%= form.radio_button :exertion, '7' %> 7  Very Hard <br>
  <%= form.radio_button :exertion, '8' %> 8  - <br>
  <%= form.radio_button :exertion, '9' %> 9  - <br>
  <%= form.radio_button :exertion, '10' %> 10 Maximal<br>  
</p>
<p>
    <%= form.submit %>
</p>
<% end %>

</font>
</body>
