<%= form_with model: @athlete, local: true do |form| %>

  <% if @athlete.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@athlete.errors.count, "error") %> prohibited
        this athlete from being saved:
      </h2>
      <ul>
        <% @athlete.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% if @athlete.errors.include?(:name) %>
      <b style="color:red;"><%= @athlete.errors[:name] %></b>
    <% end %>
  </p>

  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
    <% if @athlete.errors.include?(:email) %>
      <b style="color:red;"><%= @athlete.errors[:email] %></b>
    <% end %>
  </p>

  <p>
    <%= form.submit :Save %>
  </p>


<% end %>

