<head>
<style>
  a {
    text-decoration: none;
    color:white;
    font-size: 100%;
  }

  /* mouse over link */
  a:hover {
    color: #0887E8;
  }

  table {
    color: white;
    font-size: 120%; 
    width: 100%;
    text-align: left;
    font-family: "avenir"
  }
    
  </style>
</head>

<body style="background-color:#02243E;padding-left:5%;padding-right:5%;">

  <font face="Bebas Neue" color="1CCDE3" size=200%>
    <a>
      <%= link_to 'Home', welcome_index_path %>
      <%= link_to '/Data', controller: 'data' %>
      <%= link_to '/Activity Form Data' %>
    </a>
  </font>

  <br><br>

  <table cellspacing="0" cellpadding="3">
    <tr>
      <th align = "left"> Name </th>
      <th align = "left"> Activity </th>
      <th align = "left"> How was your workout? </th>
      <th align = "left"> Submitted time </th>
      <th align = "left"> Calculation </th>
    </tr>

    <% @factivity.each do |factivity| %>
    <tr> 
      <td align = "left"><%= factivity.stdName %></td>
      <td align = "left"><%= factivity.activity %></td>
      <td align = "center"><%= factivity.exertion %></td>
      <td align = "left"><%= factivity.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%m/%d/%Y %H:%M")%></td>
      <td align = "left"><%=  %> </td>
      <td align = "left"><%= link_to 'Delete', factivity_path(factivity),
			   method: :delete,
			   data: {confirm: 'Are you sure?'}%> </td>
    </tr>
  
    <% end %>

  </table>
  
  <br>

  <font face="Bebas Neue" color=white style="font-size:150%">
    <%= link_to 'Download Excel file', data_factivity_data_path(format: :xlsx) %>
    <%= link_to 'Delete all', remove_all_factivity_index_path,
	:method => :get,
    data: { confirm: 'Are you sure you want to remove all entries?' } %>
  </font>
</body>

