<head>
<style>
  a {
    text-decoration: none;
    color:#02243E;
    font-size: 100%;
  }

  /* mouse over link */
  a:hover {
    color: #0887E8;
  }

  table {
    width: 100%;
    text-align: left;
  }

  </style>
</head>

<body style="background-color:white;padding-left:5%;padding-right:5%;">
  <font face="Bebas Neue" color="#02243E" size=200%>
    <div>MSOC Morning Questionnaire</div>
  </font>
<font face="avenir">

<%= form_with scope: :form, url: fmorning_index_path, local: true do |form| %>

<% if @fmorning.errors.any? %> 
<div id="error_explanation">
    <%= pluralize(@fmorning.errors.count, "error") %>
    prohibited
    this article from being saved:
  <ul>
    <% @fmorning.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>


<p>
  <b> Select Your Name </b> <br>

  <% option = options_from_collection_for_select(@athletes, :name, :name)%>
  <%= form.select :stdName, option, :include_blank => true %>
</p>

<p>
  <b> Using the following scale,
    what number corresponds to your urine color first thing this morning?</b>
</p>  
  <%= image_tag("https://lists.office.com/Images/a7d57d32-caf7-498d-a18f-e429f8df1f68/c1051692-9dbb-4af4-b3bd-a3850bf8fa7a/T1220E1MXK0DJUTQ8SWE67HLRH/2cfd514a-09bc-49ed-a399-8e42f35ff43b", :size=> "200x300")%>

  <table>
    <tr>
      <td><%= form.radio_button :urineCol, '1' %> 1</td>
      <td><%= form.radio_button :urineCol, '2' %> 2</td>
      <td><%= form.radio_button :urineCol, '3' %> 3</td>
      <td><%= form.radio_button :urineCol, '4' %> 4</td>
      <td><%= form.radio_button :urineCol, '5' %> 5</td>
      <td><%= form.radio_button :urineCol, '6' %> 6</td>
      <td><%= form.radio_button :urineCol, '7' %> 7</td>
      <td><%= form.radio_button :urineCol, '8' %> 8</td>
    </tr>
  </table>

  <b>Please select the option that most accurately reflects the amount of sleep (including naps) you have had in the past 24 hours.</b> <br>
<p>
  <%= form.radio_button :sleepTime, '2' %> 2 or less &nbsp &nbsp
  <%= form.radio_button :sleepTime, '2.5' %> 2.5 &nbsp &nbsp
  <%= form.radio_button :sleepTime, '3' %> 3 &nbsp &nbsp
  <%= form.radio_button :sleepTime, '3.5' %> 3.5 &nbsp &nbsp
  <%= form.radio_button :sleepTime, '4' %> 4 &nbsp &nbsp
  <%= form.radio_button :sleepTime, '4.5' %> 4.5 &nbsp &nbsp
  <%= form.radio_button :sleepTime, '5' %> 5 &nbsp &nbsp
  <%= form.radio_button :sleepTime, '5.5' %> 5.5 &nbsp &nbsp
  <%= form.radio_button :sleepTime, '6' %> 6 &nbsp &nbsp
  <%= form.radio_button :sleepTime, '6.5' %> 6.5 &nbsp &nbsp
  <%= form.radio_button :sleepTime, '7' %> 7 &nbsp &nbsp
  <%= form.radio_button :sleepTime, '7.5' %> 7.5 &nbsp &nbsp<br>
  <%= form.radio_button :sleepTime, '8' %> 8 &nbsp &nbsp
  <%= form.radio_button :sleepTime, '8.5' %> 8.5 &nbsp &nbsp
  <%= form.radio_button :sleepTime, '9' %> 9 &nbsp &nbsp
  <%= form.radio_button :sleepTime, '9.5' %> 9.5 &nbsp &nbsp
  <%= form.radio_button :sleepTime, '10' %> 10 &nbsp &nbsp
  <%= form.radio_button :sleepTime, '10.5' %> 10.5 &nbsp &nbsp
  <%= form.radio_button :sleepTime, '11' %> 11 &nbsp &nbsp
  <%= form.radio_button :sleepTime, '11.5' %> 11.5 &nbsp &nbsp
  <%= form.radio_button :sleepTime, '12' %> 12 or more &nbsp &nbsp<br><br>

  <br>
  <b>On a scale of 0-10, what would you rate your general body soreness?
    A 0 is complete absence of soreness,
    and a 10 is the most soreness you have ever felt.</b> <br>
  <table>
    <tr>
      <td><%= form.radio_button :bodySoreness, '0' %> 0 &nbsp &nbsp</td>
      <td><%= form.radio_button :bodySoreness, '1' %> 1 &nbsp &nbsp</td>
      <td><%= form.radio_button :bodySoreness, '2' %> 2 &nbsp &nbsp</td>
      <td><%= form.radio_button :bodySoreness, '3' %> 3 &nbsp &nbsp</td>
      <td><%= form.radio_button :bodySoreness, '4' %> 4 &nbsp &nbsp</td>
      <td><%= form.radio_button :bodySoreness, '5' %> 5 &nbsp &nbsp</td>
      <td><%= form.radio_button :bodySoreness, '6' %> 6 &nbsp &nbsp</td>
      <td><%= form.radio_button :bodySoreness, '7' %> 7 &nbsp &nbsp</td>
      <td><%= form.radio_button :bodySoreness, '8' %> 8 &nbsp &nbsp</td>
      <td><%= form.radio_button :bodySoreness, '9' %> 9 &nbsp &nbsp</td>
      <td><%= form.radio_button :bodySoreness, '10' %> 10</td>

    </tr>
  </table>
  
  <p>
    <%= form.submit %>
  </p>
<% end %>

</font>
</body>


